---
title: "Sarah Withee"
layout: splash
permalink: /
date: 2019-05-19T12:00:00-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash_bg_codemash_2019.jpg
  caption: "Speaking at Code Mash 2019 (Photo credit: [Tori Brenneison](https://twitter.com/not_unambitious))"
excerpt: "Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns."
intro:
  - excerpt: 'Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns.'
---

<!--<div class="home_feature_table">-->
<!--  <div class="home_feature_table_row">-->
<!--    <div class="home_feature_table_cell_image">-->
<!--      <img src="assets/images/icons8-new-100.png" alt="New icon" />-->
<!--    </div>-->
<!--    <div class="home_feature_table_cell">-->
<!--      <h2>Welcome to my new site!</h2>-->
<!--      <p>I'm slowly importing the content from my old site (sarahwithee.com) and my blog (geekygirlsarah.com) and-->
<!--        merging them into this site. In the meantime, take a look around!</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; a bit of extra space between the two tables&ndash;&gt;-->
<!--<div><p>&nbsp;</p></div>-->


<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-comments-512.png" width="100" height="100" alt="Presentation icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-lecturer-100.png" width="100" height="100" alt="Lecturer icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-robot-100.png" width="100" height="100" alt="Robot arm icon" class="home_feature_cell_image_center"/>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <h2>Speaking Notes</h2>
      <p>Attended one of my talks and wanted to see the slides, videos, or notes? I've got them all in one handy place!</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>Thought About Speaking?</h2>
      <p>I'm bringing Global Diversity CFP Day to Pittsburgh to help increase the diversity of tech public speakers.</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>FIRST Robotics</h2>
      <p>FIRST Robotics Challenge rules were recently released for 2020. Learn more about the team I'm mentoring!</p>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <p><a href="/speaking/" class="btn btn--primary">See My Notes</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="https://www.globaldiversitycfpday.com/events/220" target="_blank" class="btn btn--primary">Check Out the Event</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="http://girlsofsteelrobotics.com/" target="_blank" class="btn btn--primary">Meet the Girls of Steel Team!</a></p>
    </div>
  </div>
</div>

<!-- a bit of extra space between the two tables-->
<div><p>&nbsp;</p></div>


<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-lecturer-100.png" alt="Speaker at podium icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Upcoming Talks</h2>
      {% include feature_block data_type="talks" show_number=3 %}
      <a href="/speaking/" class="btn btn--primary">All Talk Schedule</a>
    </div>
  </div>

  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-edit-file-100.png" alt="Blog icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Latest Blog Posts</h2>
      {% include feature_block data_type="posts" show_number=3 %}
      <a href="/speaking/" class="btn btn--primary">All Posts</a>
    </div>
  </div>
</div>

<div class="home_feature_table_row">
  <div class="home_feature_table_cell_image">
    <img src="assets/images/icons8-micro-100.png" alt="Lecturer icon"/>
  </div>
  <div class="home_feature_table_cell">
    <h2>Latest Podcasts</h2>
    {% include feature_block data_type="podcasts" show_number=3 %}
    <a href="/media/" class="btn btn--primary">All Media</a>
  </div>
</div>

