---
title: "Sarah Withee"
layout: splash
author: sarah
permalink: /
date: 2019-05-19T12:00:00-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/splash_bg_codemash_2019.jpg
#   actions:
#     - label: "Download"
#       url: "https://github.com/mmistakes/minimal-mistakes/"
#   caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns."
author_profile: true
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
---

<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-new-100.png" alt="New icon" />
    </div>
    <div class="home_feature_table_cell">
      <h2>Welcome to my new site!</h2>
      <p>I'm slowly importing the content from my old site (sarahwithee.com) and my blog (geekygirlsarah.com) and
        merging them into this site.</p>

      <p>In the meantime, take a look around!</p>
    </div>
  </div>
</div>

<!-- a bit of extra space between the two tables-->
<div><p>&nbsp;</p></div>


<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-applicant-100.png" alt="Resume icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-robot-100.png" alt="Robot icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-twitch-100.png" alt="Twitch icon" class="home_feature_cell_image_center"/>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <h2>I'm Job Hunting</h2>
      <p>Over the years, I have worked in a variety of languages, fields, and across the full stack!</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>Creations</h2>
      <p>I've built software, robots, artificial pancreases, and more.</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>Live Streaming</h2>
      <p>I'm starting a Twitch and YouTube stream! I'll be working on some open source projects.</p>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <p><a href="resume/" class="btn btn--primary">Read My Resume</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="media/" class="btn btn--primary">Look at My Media Page</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="https://twitch.tv/geekygirlsarah" target="_blank" class="btn btn--primary">Check Out My Twitch
        Page</a></p>
    </div>
  </div>
</div>

<!-- a bit of extra space between the two tables-->
<div><p>&nbsp;</p></div>


<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-lecturer-100.png" alt="Speaker at podium icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Upcoming Talks</h2>
      {% include feature_block data_type="talks" show_number=3 %}
      <a href="speaking/" class="btn btn--primary">All Talk Schedule</a>
    </div>
  </div>


  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-micro-100.png" alt="Lecturer icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Recent Podcasts</h2>
      {% include feature_block data_type="podcasts" show_number=3 %}
      <a href="media/" class="btn btn--primary">All Media</a>
    </div>
  </div>
<!--  <div class="home_feature_table_row">-->
<!--    <div class="home_feature_table_cell_image">-->
<!--      <img src="assets/images/icons8-edit-file-100.png" alt="Blog icon"/>-->
<!--    </div>-->
<!--    <div class="home_feature_table_cell">-->
<!--      <h2>Recent Blog Posts</h2>-->
<!--      {% include feature_block data_type="posts" show_number=2 %}-->
<!--      <a href="speaking/" class="btn btn&#45;&#45;primary">All Posts</a>-->
<!--    </div>-->
  </div>
</div>

