---
title: "Sarah Withee"
layout: splash
author: sarah
permalink: /
date: 2019-05-19T12:00:00-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/code-mash-lightning-talk.jpg
#   actions:
#     - label: "Download"
#       url: "https://github.com/mmistakes/minimal-mistakes/"
#   caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns."
author_profile: true
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
---

<div class="home_feature_table">
    <div class="home_feature_table_row">
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-code-100.png" alt="Code icon" class="home_feature_cell_image_center" />
        </div>
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-lecturer-100.png" alt="Lecturer icon" class="home_feature_cell_image_center" />
        </div>
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-blog-100.png" alt="Blog icon"  class="home_feature_cell_image_center" />
        </div>
    </div>
    <div class="home_feature_table_row">
        <div class="home_feature_table_cell_third">
            <h2>Polyglot Software Engineer</h2>
            <p>I have worked in a variety of languages, a variety of fields, and done desktop, mobile, and web apps!</p>
        </div>
        <div class="home_feature_table_cell_third">
            <h2>International Public Speaker</h2>
            <p>I’ve given keynotes, technical talks, and powerful talks capable of making people laugh and cry at the same time. I've spoken locally, regionally, nationally, and internationally.</p>
        </div>
        <div class="home_feature_table_cell_third">
            <h2>Hardware and Robot Tinkerer</h2>
            <p>I've worked on five competition robots, mentored kids' robotics teams to world championships, and built hardware projects for over 15 years.</p>
        </div>
    </div>
</div>

<div class="home_feature_table">
    <div class="home_feature_table_row">
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-code-100.png" alt="Code icon" />
        </div>
        <div class="home_feature_table_cell">
            <h2>Upcoming Talks</h2>
            {% include feature_block data_type="talks" show_number=3 %}
            <a href="speaking/" class="btn btn--primary">All Talk Schedule</a>
        </div>
    </div>
    <div class="home_feature_table_row">
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-lecturer-100.png" alt="Lecturer icon" />
        </div>
        <div class="home_feature_table_cell">
            <h2>Recent Podcasts</h2>
            {% include feature_block data_type="podcasts" show_number=2 %}
            <a href="speaking/" class="btn btn--primary">All Media</a>
        </div>
    </div>
    <div class="home_feature_table_row">
        <div class="home_feature_table_cell_image">
            <img src="assets/images/icons8-blog-100.png" alt="Blog icon" />
        </div>
        <div class="home_feature_table_cell">
            <h2>Recent Blog Posts</h2>
            {% include feature_block data_type="posts" show_number=2 %}
            <a href="speaking/" class="btn btn--primary">All Posts</a>
        </div>
    </div>
</div>

